{% extends 'layout.html' %}
{% block content %}

  <div class="content-section">
    <p> Current User: {{ current_user.email }} </p>
    <form method="POST" action="">
      {{ sync.hidden_tag() }}
      <div class="form-group">
        {{ sync.submit(class="btn btn-outline-info") }}
      </div>
    </form>
  </div>

  {% for email in emails %}
  <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a>From: {{ email.sender }}</a>
          <small class="text-muted">{{ email.date_received }}</small>
        </div>
        <h3><a  class="article-title" href="{{ url_for('read_email', email_id=email.id) }}">Subject: {{ email.subject }}</a></h2>
      </div>
  </article>
  {% endfor %}


<!--  {% for page_num in emails.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
  {% if page_num %}
    {% if emails.page == page_num %}
      <a class="btn btn-info mb-4" href="{{ url_for('account', page=page_num) }}">{{ page_num }}</a>
    {% else %}
      <a class="btn btn-outline-info mb-4" href="{{ url_for('account', page=page_num) }}">{{ page_num }}</a>
    {% endif %}
  {% else %}
    ...
  {% endif %}
{% endfor %}
-->

{% endblock content %}
