{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="" enctype=multipart/form-data>
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group">
                {{ form.to.label(class="form-control-label") }}
                {% if form.to.errors %}
                    {{ form.to(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.to.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.to(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.subject.label(class="form-control-label") }}
                {% if form.subject.errors %}
                    {{ form.subject(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.subject.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.subject(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
              {{ form.attachment.label(class="form-control-label") }}
                {% if form.attachment.errors %}
                  {{ form.attachment(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.attachment.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.attachment(class="form-control form-control-lg") }}
                  {% endif %}
            </div>
            <form method="post">
              <textarea id="summernote" name="editordata"></textarea>
              <input type="submit" value="Send">
            </form>
            </fieldset>
    </form>
</div>
<div class="border-top pt-3">
  <small class="text-muted">
    <a class="ml-2" href="{{ url_for('account') }}"> Back to Account</a>
  </small>
</div>
{% endblock %}
